
@import "../../@theme/styles/themes";

@include nb-install-component() {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
  }
  nb-card {
    width: 80vh;
    height: 70vh;
    box-shadow: -10px 10px 20px rgb(0, 0, 0);
    font-family: "Brush Script MT";
    font-weight: 300;
    font-size: x-large;
  }
  .button-container {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 38%;
  }
  .image-preview-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-area {
    font-family: "Brush Script MT";
    font-weight: 700;
    font-size: x-large;
    text-align: center;
    color: white;
    width: 76.5vh;
    height: 30vh;
    background-color: rgb(34, 43, 69);
    border: none;
  }
}
