<div class="container">
  <form [formGroup]="form">
    <nb-card>
      <nb-card-header style="display: flex; justify-content: space-between">
        <div>Image-Scribe</div>
        <input
          style="align-self: flex-end"
          nbInput
          type="file"
          class="file-upload"
          (change)="convertImage($event)"
          formControlName="file"
        />
      </nb-card-header>
      <nb-card-body>
        <div class="image-preview-container">
          <img class="imagefile" [src]="imageURL" alt=" "/>
        </div>
        <div class="button-container">
          <button
            nbButton
            status="success"
            [disabled]="buttonsDisabled"
            (click)="sendImage()"
          >
            Transcribe
          </button>
          &nbsp;
          <button
            nbButton
            status="danger"
            [disabled]="buttonsDisabled"
            (click)="reset()"
          >
            Reset
          </button>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <textarea
          class="text-area"
          nbInput
          fullWidth
          formControlName="text"
        ></textarea>
      </nb-card-footer>
    </nb-card>
  </form>
</div>