
  <header>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
  </header>
  <div class="content" role="main">
    
    <div class="page-space"></div>
    <div>
      <img class="photo" src="\assets\camera_lens_PNG37.png" alt="camera" style="width:250px;height:250px;">
    </div>
    <div class="page-space"></div>
     <h2 class="mainTitle">Welcome to the World of IntelliScribe!</h2>
    
     <h3 class="description">-You can import your images and transcribe it into text-</h3>
    
    <input type="hidden" #selection>
  
  </div>
  